

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zilla+Slab:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base{
    @font-face{
        font-family: 'Zilla Slab', serif;
        src: local('Zilla Slab') local('ZillaSlab-Bold') url(/fonts/ZillaSlab-Bold.ttf) format('ttf');
        font-weight: 700;
    }
    @font-face{
        font-family: 'Poppins', sans-serif;
        src: local('Poppins') local('Poppins-Regular') url('/home/laki/projects/portfolio/src/assets/fonts/Poppins-Regular.ttf') format('ttf');
        font-weight: 400;

    }

}
*/