

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zilla+Slab:wght@700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base{
    @font-face{
        font-family: 'Zilla Slab', serif;
        src: local('Zilla Slab') local('ZillaSlab-Bold') url(/fonts/ZillaSlab-Bold.ttf) format('ttf');
        font-weight: 700;
    }
    @font-face{
        font-family: 'Poppins', sans-serif;
        src: local('Poppins') local('Poppins-Regular') url('/home/laki/projects/portfolio/src/assets/fonts/Poppins-Regular.ttf') format('ttf');
        font-weight: 400;

    }

}
****https://stackoverflow.com/questions/45691117/how-can-i-add-a-svg-as-content-on-before-pseudo-element-of-an-element
@layer components {
    .card::after {
        display: block;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100' width='100'><circle cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='red' /></svg>");
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }
   
  }
*/
 
@layer base{
    @import "./icofont.min.css";
}